body {
    background-image: url("/giftastic/assets/images/Walle169.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#buttonGen {
    display: inline;
}

#searchTxt {
    color: white;
    font-size: medium;
    text-align: center;
}

#add-button{
    float: right;
}

#buttonGen {
    padding-right: 140px;
    padding-top: 5px;
    float: right;
}

p {
    font-family: 'Fjalla One', sans-serif;
    font-size: larger;
    color: white;
    text-align: center;
}

#gifArea {
    float: left;
    padding-left: 15px;
}