body {
    background-image: url("/giftastic/assets/images/Walle169.jpg");
}

#buttonGen {
    display: inline;
}

#searchTxt {
    color: white;
    font-size: medium;
}

#buttonGen {
    padding-right: 140px;
    padding-top: 80px;
    float: right;
}

p {
    color: white;
    text-align: center;
}

#gifArea {
    float: left;
    border: 15px, solid, red;
}